@import "reset.scss";
@import "variables";
@font-face {
    font-family: "Gilroy";
    src: url(../../../public/fonts/Gilroy-Light.woff) format("woff");
    src: url(../../../public/fonts/Gilroy-Light.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:"Gilroy-ExtraBold";
    src: url(../../../public/fonts/Gilroy-ExtraBold.woff) format("woff");
    src: url(../../../public/fonts/Gilroy-ExtraBold.ttf) format("truetype");
    font-style: bolder;
    font-weight: bolder;

}
body{font-family: "Gilroy"}


@import "@picocss/pico/scss/pico";

:root{
    --font-family:"Gilroy"
}
