@import "reset.scss";
@import "variables";
@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-Light.woff) format("woff");
    src: url(../fonts/Gilroy-Light.ttf) format("truetype");

}
@font-face {
    font-family:"Gilroy-ExtraBold";
    src: url(../fonts/Gilroy-ExtraBold.woff) format("woff");
    src: url(../fonts/Gilroy-ExtraBold.ttf) format("truetype");


}




@import "@picocss/pico/scss/pico";

body{font-family: "Gilroy"}
h1{font-family:"Gilroy-ExtraBold" }