$danube-50: #f2f5fc;
$danube-100: #e2e9f7;
$danube-200: #cbd9f2;
$danube-300: #a7c0e9;
$danube-400: #7ea0dc;
$danube-500: #6384d3;
$danube-600: #4b67c5;
$danube-700: #4155b4;
$danube-800: #3a4793;
$danube-900: #333e75;
$danube-950: #232848;

// variables de color de pico.css
$primary-50: $danube-50;
$primary-100: $danube-100;
$primary-200: $danube-200;
$primary-300: $danube-300;
$primary-400: $danube-400;
$primary-500: $danube-500;
$primary-600: $danube-600;
$primary-700: $danube-700;
$primary-800: $danube-800;
$primary-900: $danube-900;

// variables andres
$color-primary: #6384d3;
$color-secondary: #0f205b;
$color-tertiary: #efb200;
$color-fourth: #e7c665;
$color-white: #fff;
$color-black: #000;
$color-shadow: #6384d3;
$color-background-contact: #d8d8d8;
$color-shadow2: #BEC9EC;
$margin: 0 0 20px 0;
$font-Bold: "Gilroy-ExtraBold";
$font-regular: "Gilroy"