@font-face {
    font-family: 'tipographyBold';
    src: local('./assets/fonts/Gilroy-ExtraBold.ttf');
}
@font-face {
    font-family: 'tipographyLight';
    src: local('./assets/fonts/Gilroy-Light.ttf');
}