.accessibility-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #000c75;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .accessibility-menu button {
    margin-bottom: 20px;
    display: inline-block;
    color: darkgoldenrod;
    letter-spacing: 4px;
    font-size: 20px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
  }
  .accessibility-menu button::after{
    background: #000c75;
    box-shadow: 0 0 10px #000c75,0 0 40px #000c75,0 0 80px #000c75;
    transition-delay: 1s;
  }
  .boton{
    color: #000c75;
  }