.card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  width: 60vw;
  margin: auto;
  margin-bottom: 100px;
}
.card-wrap {
  width: 150px;
  background: #fff;
  border-radius: 20px;
  border: 5px solid #fff;
  overflow: hidden;
  color: var(--color-text);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  transition: all 0.2s ease-in-out;
}
.card-wrap:hover {
  transform: scale(1.1);
}
.card-header {
  height: 150px;
  width: 100%;
  background-color: #ffcc02;
  border-radius: 100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;
}

.card-header img {
  color: #fff;
  font-size: 72px;
  height: 100px;
  width: 100px;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}
.card-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.card-text {
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
}
.card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #ffcc02;
  border-radius: 10px;
  padding: 5px 30px;
  color: #010101;
  margin-bottom: 15px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}
.card-btn:hover {
  background-color: #010101;
  color: #ffcc02;
}
@media (max-width: 768px) {
  .card-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
  }
  .card-wrap {
    width: 100px;
  }
}
