.footer {
  background: #ffcc02;
  height: 200px;
  
  margin-top: 3rem;
}
.footer1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
  
}
.footer2 {
  margin: 0 30px;
  
}
.footer-bottom {
  text-align: center;
  font-size: medium;

}
.logo {
  width: 80px;
  height: 80px;
  font-weight: bold;
  font-size: 15px;
  
  border-radius: 10px;
}
.social-media {
  display: flex;
  justify-content: space-between;
  
}
.redes {
  font-size: 3rem;
  color: black;
  margin: 0.5rem;
}

.footer-divider {
  border: 1px solid black; /* Color y grosor de la línea */
  margin: 0 30px; /* Espaciado a cada lado de la línea */
}

@media (max-width: 768px) {
  .footer {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 80px;
    height: 35px;
    margin: 10px 0px 10px 10px;
  }
  .social-media img {
    width: 25px;
    height: 25px;
    flex-wrap: nowrap;
    margin-left: 60%;
  }
  .redes {
    font-size: 2rem;
    color: black;
    margin: 0.5rem;
  }
}
@media (max-width: 500px) {
  .redes {
    color: black;
    margin-left: 5px;
  }
  .social-media {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
  }
}
