* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Agregado para mejorar el model de caja */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.type-imput {
  display: none;
  text-align: left;
}

.form-container {
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center; /* Alineación centrada para el contenido */
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  margin-bottom: 150px;
  text-align: center; /* Alineación centrada para el contenido */
}

.btn-submit {
  width: 8rem;
  height: 2rem;
  font-size: large;
  background-color: #ffcc02;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: auto; /* Centro horizontal del botón */
}

.btn-submit:hover {
  background: black;
  color: #ffcc02;
}

.intro-text {
  justify-content: center;
  text-align: center;
  margin: 200px 250px 100px 250px;
  text-align: center;
  width: 70%;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 80%;
  height: 30px;
  font-size: 20px;
}

textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 20px;
  width: 80%;
  height: 10rem;
}

@media (max-width: 768px) {
  .intro-text {
    margin: auto;
  }
  .form-container {
    margin-top: 100px;
  }
  .form {
    margin-top: 100px;
    margin-left: 10%;
  }
}

