.contacto {
  font-family: var(--font-family);
  margin-top: 0;
  padding: 8rem 0;
  background-color: var(--color-dark);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contacto-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contacto-title h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: black;
}

.titulo_formulario {
  background: #ffcc00;
  width: 70%;
  height: 7%;

}

.contacto-title p {
  color: black;
}

.contacto-title p i {
  color: black; /* Amarillo */
  background: #ffcc00;
}

.contacto-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacto-form {
  display: flex;
  flex-direction: column;
  background: #ffcc00; /* Fondo amarillo */
  padding: 2rem;
  border-radius: 10px;
  margin-top: 2rem;
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

.contacto-form input,
.contacto-form textarea {
  padding: 1rem;
  font-size: 20px;
  color: var(--color-dark);
  margin: 0.5rem 0;
  border: none;
  border-radius: 5px;
}

.contacto-form input::placeholder,
.contacto-form textarea::placeholder {
  font-weight: 700;
  color: var(--color-gray-400);
}

.contacto-form_button {
  background: #ffcc00; /* Amarillo intenso */
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  color: black; /* Letras negras */
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1rem;
}

.contacto-form_button a {
  text-decoration: none;
  color: black;
}

.contacto-form_button:hover {
  background: black;
 
}

.contacto-form_button:hover a {
  color: #ffcc00;
 
}

@media screen and (max-width: 900px) {
  .contacto-form {
    width: 75vw;
    margin: 0 auto; /* Centro horizontal en versión móvil */
    align-items: center; /* Centrar contenido verticalmente en versión móvil */
  }

  .contacto-form input,
  .contacto-form textarea {
    width: 88%;
    margin: 0.5rem 0; /* Espacio reducido entre los campos en versión móvil */
  }

  .contacto-form_button {
    padding: 1rem 2rem 1rem; /* Tamaño reducido para la versión móvil */
    margin: 2rem; /* Margen reducido para la versión móvil */
  }
}

