.navbar{
    background: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.nav-logo{
    width: 90px;
    height: 90px;
    font-weight: bold;
    font-size: 20px;
    margin: 15px;
    color: black;
}
.nav-items a{
    margin: 15px;
    color: black;
    position: relative;
    text-decoration: none;
}
.nav-toggle{
    display: none;
}
@media (max-width: 768px){
    .nav-items{
        position: absolute;
        top: 60px;
        left: 0;
        background: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: -webkit-fill-available;
        transform: translateX(-100%);
        transition: 0.3s ease all;
    }
    .nav-items.open{
        transform: translateX(0);
    }
    .nav-toggle{
        display: flex !important;
        flex-direction: column;
        margin: 15px; 
    }
    .nav-toggle span{
        width: 30px;
        height: 4px;
        background: black;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }
    .nav-toggle.open > span{
        transform: rotate(45deg) translate(0px, 0px);
    }
    .nav-toggle.open > span :nth-child(2){
        display: none;
    }
    .nav-toggle.open > span :nth-child(3){
        transform: rotate(-45deg) translate(-5px, 1px)
    }
}