.Container-Bienvenidos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 440px;
  background-image: url("/public/Imagenes/fondo-bienvenidos.jpeg");
  background-size: cover;
  padding: 10px;
}

.Container-description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  background: #ffcc02;
  padding: 10px;
}
h1 {
  font-size: 75px;
}

p {
  font-size: 25px;
  /*justify-content: center;
  align-items: center;*/
  text-align: left;
  line-height: 1.5;
  padding: 20px;
}

.Container-video {
  margin: 10% auto;
  width: 70vw;
  height: 80vh;
}
.slider {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow: auto;
}
@media (max-width: 768px) {
  .Container-description {
    display: flex;
    flex-direction: column;
    height: 50vh;
    margin-top: 100px;
    background: #ffcc02;
  }
  p {
    font-size: 20px;

    text-align: center;
    line-height: 2rem;
    margin-left: 20px;
    margin-right: 20px;
  }
  .Container-video {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    height: 25vh;
  }
}

@media (max-width: 500px) {
  Container-Bienvenidos {
    display: flex;
    flex-direction: column;

    background-image: url("/public/Imagenes/fondo-bienvenidos.jpeg");
  }
  h1 {
    font-size: 30px;
  }
  #quien {
    margin-top: 30px;
  }
  .Container-description {
    display: flex;

    height: 550px;
    background: #ffcc02;
    padding: 10px;
  }

  p {
    font-size: 17px;

    text-align: left;
    line-height: 1.5rem;
  }

  .Container-video {
    margin: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    height: 40vh;
  }
}
