.App {
  text-align: center;
}

.barra {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffcc02;
  height: 60px;
  margin: 2rem;
}

.nivel {
  cursor: pointer;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.nivel:hover {
  background-color: #010101;
  color: #ffcc02;
}

.nivel.selected {
  background-color: #010101;
  color: #ffcc02;
}

.contenido {
  background-color: lightgray;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}
.info-type{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.resource-list{
  list-style: none;
  text-align: left;
}
.enlace{
  text-decoration: none;
  font-weight:bold ;
  color: black;
}
.resource-type-title{
  display: flex;
  gap: 1rem;
  margin: 1rem;
} 

.logo-recourse {
  font-size: 7rem;
  color:  #FFC700;
}

.logo-recourse:hover{
  color: #9649C6;
}

