/* Styles.css */
.arrow-icon{
  color: #ffcc02;
  margin: 0;
  padding: 0%;
  font-size: 2rem;
}
/* Contenedor principal del componente Programs */
.swiper_content {
  margin: 2rem;
  position: relative;
}

/* Estilos para el título a la izquierda */
.title-programs {
  position: absolute;
  left: 0%;
  font-size: 2.5rem;
  padding-top: 2rem;
}

/* Estilos para el Swiper a la derecha */
.mySwiper {
  position: relative;
  left: 50%;
  width: 400px;
  height: 250px;
  margin-left: 20px;
  flex: 1;
}

.info-programs {
  width: 90%;
  text-align: justify;
  font-size: 1.5rem;
  line-height: 2rem;
  flex: 1;
  margin-top: 20px;
  background-color: #ffcc02;
  padding: 50px;
  position: relative;
  margin: 0;
}


.swiper-slide {
  background-position: center;
  background-size: cover;
  margin: 0;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-slide button:hover {
  background: #010101;
  color: #ffcc02;
}
@media (max-width: 768px){
  .swiper_content {
    margin: 1rem;
    position: relative;
  }
  
  /* Estilos para el título a la izquierda */
  .title-programs {
    position: absolute;
    left: 3%;
    font-size: 2rem;
    padding-top: 2rem;
  }
  
  /* Estilos para el Swiper a la derecha */
  .mySwiper {
    position: relative;
    left: 50%;
    width: 300px;
    height: 250px;
    margin-left: 20px;
    flex: 1;
  }
  
  .info-programs {
    width: 90%;
    text-align: justify;
    font-size: 1.5rem;
    line-height: 2rem;
    flex: 1;
    margin-top: 20px;
    background-color: #ffcc02;
    padding: 40px;
    position: relative;
    margin: 0;
  }
}


@media (max-width: 480px) {
  .swiper_content {
    margin: 0;
    
  }
 
  .title-programs {
    font-size: 2rem;
    text-align: center; /* Centrar el título en dispositivos móviles */
    position: static; /* Volver a la posición estática para el título */
    padding-top: 0; /* Eliminar el espacio superior en dispositivos móviles */
  }

  /* Ajustar el tamaño del Swiper para dispositivos móviles */
  .mySwiper {
    width: 100%;
     /* Tomar el 100% del ancho en dispositivos móviles */
    height: auto; /* Ajustar la altura automáticamente en dispositivos móviles */
    position: relative; /* Volver a la posición estática para el Swiper */
    left: 10%; /* Restaurar la posición izquierda en dispositivos móviles */
    width: 300px;
    height: 260px;
  }
  .info-programs{
    width: 90%;
    padding:40px 10px ;
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin: 0;
  }
}
/* @media (max-width: 768px) {
  .swiper_content {
    display: block;
    flex-wrap: wrap;
    margin: auto;
  }

  .title-programs {
    text-align: center;
    font-size: 40px;
    margin: auto;
  }

  .mySwiper {
    justify-content: center;
    width: 80%;
    height: 80%;
    padding: 40px;
    padding-bottom: 20px;
    margin: auto;
  }

  .swiper-slide {
    height: 100%;
  }
} */