.oneSwiper {
  width: 90%;
  height: 400px;

  padding-bottom: 50px;
  margin: 250px 0 150px 100px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  .oneSwiper {
    width: 90%;
    height: 300px;
    margin: auto;
    margin-top: 100px;
  }
}
