.reproductor-section-container {
  display: grid;
  margin: 80px;
  grid-template-columns: 1.5fr 1fr;
  gap: 10%;
  padding: 50px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .reproductor-section-container {
    margin: auto;
    grid-template-columns: 1fr;
    /* Cambiar a una sola columna en pantallas más pequeñas */
  }
}

.video-list {
  max-height: 400px;
  overflow-y: auto;
}

.video-item {
  cursor: pointer;
}

.video-item:hover {
  background-color: #d7d7d7;
}
