@import '../../_settings/variables.scss';

.cont-Head{
    width: 100%;
}
header{
    width: 100%;
    height: 70px;
    background: $color-primary;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $font-Bold;
}
.logo-header{
    width: 35px;
}
.nav{
    background: $color-primary;
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    transform: translateX(0%);
    transition: transform 0.3s ease-in-out;
    position: absolute;
    z-index: 2;
    font-family: $font-Bold;
}
.nav-open {
    transform: translateX(-100%);
  }
.nav-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: $font-Bold;
    
    li{
        a{
            font-family: $font-Bold;
            text-decoration: none;
            color: $color-white;
            font-size: 16px;
            margin: 0 50px;
            position: relative;
        }
        a::before{
            content: '';
            border-bottom: 3px solid $color-secondary;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            transition: width 0.2s ease-in-out;
            opacity: 0;
            font-family: $font-Bold;
        }
        a:hover::before{
            width: 100%;
            opacity: 1;
            font-family: $font-Bold;
        }
        a::after{
            width: 0%;
            opacity: 0;
            font-family: $font-Bold;
        }
        a:hover::after{
            width: 100%;
            opacity: 1;
            font-family: $font-Bold;
        }
        a:hover{
            color: $color-secondary;
        }
    }
}
.menu-bars{
    color: white;
    width: 40px;
    height: 40px;
}
.nav-icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;

    a{
        width: 40px;
        height: 40px;
        color: $color-white;
    }
}
@media (min-width: 900px) {
    .menu-bars{
        display: none;
    }
    .nav-icons{
        display: none;
    }
    .nav{
        background: $color-primary;
        width: 100%;
        height: 70px;
        position: relative;
        margin-bottom: 30px;
    }
    .nav-list{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:flex-end;
          
        li{
            a{
                margin: 0 20px;
                font-size: 26px;
                font-family: 'tipographyBold';
                color: $color-white;
            }
          }
    }
    .cont-Head{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100px;
        background: $color-primary;
    }
    header{
        width: 25%;
        height: 100px;
        display: block;
    }
    .logo-header{
        width: 45px;
        margin: 20px 20px;
    }
    .nav-open{
        transform: translate(0%);
    }
}