.footer {
  font-family: "Gilroy-Regular";
  background: black;
  height: 214px;

  
}
.footer1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  color: white;
  height: 50%;
}
.footer2 {
  margin: 0 50px;
  
}
.number {
  font-size: 20px;

}  
.direction{
  margin: 0 20px;
  font-size: 20px;
}
.footer-bottom {
  text-align: center;
  font-size: 20px;
  color: white;
  margin-top: 15px;
}
.logo {
  width: 80px;
  height: 80px;
  font-weight: bold;
  font-size: 15px;

  
}
.social-media {
  display: flex;
  justify-content: space-between;
  
}
.redes {
  font-size: 32px;
  color: white;
  margin: 0.5rem;
}

.footer-divider {
  border: 1px solid white; /* Color y grosor de la línea */
  margin: 0 50px; /* Espaciado a cada lado de la línea */

}

@media (max-width: 768px) {
  .footer {
    height: 150px;
    
  }
  .footer1 {
    height: 60px;
    font-size: 14px;
    margin: 0 30px;
  }
  .footer2 {
    
    height: 60px;
  }
  .number {
    font-size: 14px;
  
  }  
  .direction{
  
    font-size: 14px;
  }
  .footer-bottom {
    font-size: 14px;
  }
  .logo {
    transform: scale(0.6);
    
  }
  
  .redes {
    font-size: 16px;

    margin: 0.5rem;
    
  }
}
@media (max-width: 480px) {
 
  .logo {
    transform: scale(0.5);
  }
  .footer1 {
    font-size: 8px;
    margin: 0 25px;
  }
  .footer-bottom {
    font-size: 9px;
  }
  .number {
    font-size: 9px;
  
  }  
  .direction{
  
    font-size: 9px;
  }
}
