@use "../../_settings/variables";
@use "../../_settings/mixins";
button {
  font-family: "Gilroy-ExtraBold";
  letter-spacing: 2px;
  font-weight: 400;
}
.button-tab {
  font-style: normal;
  text-transform: capitalize;
  border-radius: 0px;
  background-color: #3d4a7a;
  width: 50%;
  border: none;
  height: 60px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  margin: 0px;
  transition: background-color 0.5s ease;
  &-active {
    background-color: #0f205b;
  }
}
.button-show {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  font-size: 20px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 10px;
  height: 25px;
  padding: 0px;
  color: variables.$color-secondary;
  @include mixins.desktop {
    margin: 0px;
  }
}
