.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}




user agent stylesheet
div {
    display: block;
}
.vc_row.vc_row-flex>.vc_column_container>.vc_column-inner {
    
    -webkit-box-direction: normal;
    
}

:root {
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--huge: 42px;
}
.vc_column-inner::after, .vc_column-inner::before {
    content: " ";
    display: table;
}
*, *:before, *:after {
   
    -webkit-box-sizing: border-box;
}


.vc_column-inner::after {
    clear: both;
}
.vc_column-inner::after, .vc_column-inner::before {
    content: " ";
    display: table;
}
*, *:before, *:after {
    
    -webkit-box-sizing: border-box;
}

