@use "../../../../_settings/variables.scss";

.container3 {
  background: variables.$color-shadow2;
  width: 100%;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.info-cont3 {
  width: 80%;
  margin: 0 auto;
  gap: 50px;
  display: flex;
}

.title-info-cont3 {
  padding: 50px 0 0 0px;
  font-size: 26px;
  font-family: variables.$font-Bold;
  font-weight: 400;
  color: variables.$color-secondary;
  text-align: center;
}

.header-history {
  display: flex;
}

.title-history {
  flex: 1;
  font-size: 28px;
  font-family: variables.$font-Bold;
  font-weight: 400;

  color: variables.$color-secondary;
}

.text-history {
  font-size: 20px;
  font-family: variables.$font-Regular;
  color: variables.$color-secondary;
}

.history {
  margin: 0 auto;
  margin-top: -30px;
  padding: 10px;
  width: 600px;
  background: variables.$color-white;
  border-radius: 20px;
}

.img-history {
  width: 20%;
  height: 20%;
  margin-top: -10px;
}

@media (min-width: 0px) and (max-width: 768px) {
  .container3 {
    margin-top: 140px;
  }
  .info-cont3 {
    flex-direction: column;
    width: 100%;
  }

  .history {
    max-width: 300px;
  }

  .title-info-cont3 {
    font-size: 24px;
  }

  .title-history {
    font-size: 25px;
  }

  .text-history {
    font-size: 16px;
  }

  button {
    font-size: 16px;
  }
}
