@use "../../_settings/base.scss";
@use "../../_settings/variables.scss";

.contact-form-container {
  width: 100%;
}

.contact-form-container input,
textarea,
select {
  background-color: variables.$color-primary;
  color: variables.$color-white;
  height: 60px;
}

.contact-form-container input::placeholder,
textarea::placeholder,
select::placeholder {
  color: variables.$color-white;
  font-family: "Gilroy SemiBold";
}

.form-group {
  width: 100%;
}

.form-button {
  font-family: "Gilroy SemiBold";
  width: 100%;
  background-color: variables.$color-tertiary;
  border: 4px solid variables.$color-fourth;
  outline: none;
  border: none;
}

.form-button:hover {
  background-color: variables.$color-fourth;
}

input,
textarea,
select {
  width: 100%;
  font-size: 22px;
  font-family: "Gilroy SemiBold";
  padding: 0.5rem;
  border-radius: 8px;
  outline: none;
  border: none;
}

select {
  cursor: pointer;
}

p {
  margin-top: -1rem;
  font-family: "Gilroy Regular";
  color: variables.$color-black;
  text-align: left;
  font-weight: 500;
  font-size: 20px;
}

textarea {
  min-height: 250px;
  resize: vertical;
  padding: 0.5rem 1rem;
}

@media (max-width: 576px) {
  input,
  textarea,
  select {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}
