@use "../../../../_settings/variables.scss";

.container1 {
  display: flex;
  width: 84.2%;
  margin: 180px auto;
  justify-content: space-around;
}

.cont1 {
  width: 60%;
  h1 {
    font-size: 38px;
    color: variables.$color-secondary;
    font-family: variables.$font-Bold;
    font-weight: 400;
    margin-bottom: 40px;
  }

  p {
    font-size: 22px;
    color: variables.$color-secondary;
    font-family: variables.$font-Bold;
    font-weight: 400;

    span {
      font-weight: 100;
      font-family: variables.$font-Regular;
    }
  }
}

.cards-container1 {
  justify-content: center;
  margin: 0 auto;
  gap: 30px;
  display: flex;
}

.cards-1 {
  background: variables.$color-secondary;
  border-radius: 10px;
  width: 300px;
  height: 130px;
  position: relative;

  a {
    text-decoration: none;
  }

  h3 {
    font-size: 27px;
    color: variables.$color-white;
    font-family: variables.$font-Bold;
    font-weight: 400;
    margin-left: 10px;
    top: 97%;
    transform: translate(0%, -200%);
    z-index: 1;
    position: absolute;
  }

  h2 {
    font-size: 30px;
    color: variables.$color-primary;
    font-family: variables.$font-Bold;
    font-weight: 400;
    margin-left: 10px;
    z-index: 2;
    transform: translate(0%, 170%);
  }

  .img-cards1 {
    width: 150px;
    transform: translate(60%, -104%);
    z-index: 1;
  }

  .img-cards2 {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 48%;
    top: 75%;
    transform: translate(60%, -110%);
    z-index: 1;
  }

  .button1-card1-cont1 {
    margin-top: -35px;
    font-size: 18px;
  }

  .button1-card1-cont1:hover {
    box-shadow: none;
    background: variables.$color-white;
    border: 3px solid variables.$color-primary;
  }

  .button2-card2-cont1 {
    font-size: 18px;
    margin-top: 111px;
  }
  .button2-card2-cont1:hover {
    box-shadow: none;
    background: variables.$color-white;
    border: 3px solid variables.$color-primary;
  }
}

.cont2 {
  width: 30%;
  h1 {
    font-size: 38px;
    color: variables.$color-secondary;
    font-family: variables.$font-Bold;
    font-weight: 400;
    margin-bottom: 40px;
  }
}

.cards-container2 {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.cards2 {
  display: flex;
  align-items: center;

  p {
    padding-top: 10px;
    font-size: 22px;
    font-family: variables.$font-Bold;
    color: variables.$color-secondary;
    margin-top: 10px;
    margin-left: 10px;
    line-height: 20px;
  }
}
.icon-card-cont2 {
  width: 80px;
  min-width: 80px;
  height: 75px;
  color: variables.$color-secondary;
  background-color: variables.$color-tertiary;
  border-radius: 10px;
  padding: 10px 20px;
  opacity: 0.9;
}

@media (min-width: 1024px) and (max-width: 1450px) {
  .cards-1 {
    .img-cards1 {
      transform: translate(60%, -100%);
    }
  }

  .cards-1 {
    .button2-card2-cont1 {
      margin-top: 110px;
    }
  }
}

@media (min-width: 800px) and (max-width: 1024px) {
  .container1 {
    flex-direction: column;
  }
  .cont1 {
    width: 90%;
    margin: 0 auto;
  }

  .cont2 {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
  }

  .cards-container2 {
    flex-direction: row;
  }

  .cards-1 {
    .img-cards1 {
      transform: translate(60%, -98%);
    }
  }

  .cards-1 {
    .button2-card2-cont1 {
      margin-top: 105px;
    }
  }
}

@media (min-width: 650px) and (max-width: 800px) {
  .container1 {
    flex-direction: column;
  }
  .cont1 {
    width: 90%;
    margin: 0 auto;
  }

  .cont2 {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
  }

  .cards-container2 {
    width: 50%;
    margin: 0 auto;
    flex-direction: column;
  }

  .cards-1 {
    .img-cards1 {
      transform: translate(60%, -96%);
    }
  }

  .cards-1 {
    .button2-card2-cont1 {
      margin-top: 105px;
    }
  }
}

@media (min-width: 0px) and (max-width: 650px) {
  .container1 {
    flex-direction: column;
  }
  .cont1 {
    width: 90%;
    margin: 0 auto;
  }

  .cont2 {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
  }

  .cards-container2 {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
  }

  .cards-1 {
    flex-direction: row;
    .img-cards1 {
      transform: translate(60%, -96%);
    }
  }

  .cards-container1 {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 100px;
    flex-direction: column;
  }

  .cards-1 {
    .button2-card2-cont1 {
      margin-top: 105px;
    }
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .cards-1 {
    flex-direction: row;
    .img-cards1 {
      transform: translate(60%, -92%);
    }
  }
}

@media (min-width: 0px) and (max-width: 426px) {
  .container1 {
    margin-top: 50px;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .cont1 {
    width: 100%;
    h1 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
    }

    .button1-card1-cont1 {
      font-size: 16px;
    }

    .button2-card2-cont1 {
      font-size: 16px;
    }
  }

  .cont2 {
    width: 100%;

    h1 {
      font-size: 24px;
    }
  }

  .cards2 {
    p {
      font-size: 16px;
    }
  }
}
