@use "../../../../_settings/variables.scss";

*{
    margin: 0;
    padding: 0;
}
.container1{
    width: 90%;
    margin: 50px auto;
}
.title-cont1{
    font-size: 20px;
    color: variables.$color-secondary;
    font-weight: 700;
    font-family: variables.$font-Bold;
}
.text-cont1{
    margin-top: -30px;
    font-weight: 900;
    color: variables.$color-secondary;
    font-family: variables.$font-Bold;
    span{
        font-weight: 100;
        font-family: variables.$font-Regular;
    }
}
.cards-container1{
    display: flex;
    justify-content: space-around;
}
.card1-Cont1, .card2-Cont1{
    background: variables.$color-secondary;
    border-radius: 10px;
    width: 156px;
    height: 90px;
    position: relative;
    a{
        text-decoration: none;
    }
    h3{
        font-size: 16px;
        color: variables.$color-white;
        font-family: variables.$font-Bold;
        margin-left: 10px;
        top: 97%;
        transform: translate(0%, -200%);
        z-index: 2;
        position: absolute;
    }
    h2{
        font-size: 22px;
        color: variables.$color-primary;
        font-family: variables.$font-Bold;
        margin-left: 10px;
        z-index: 2;
        transform: translate(0%, 170%);
    }
    img{
        transform: translate(9%, -84%);
        z-index: 1;
    }
}
.img-card2-cont1{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 48%;
    top: 75%;
}
.button1-card1-cont1{
    margin-top: -60px;
    font-size: 14px;
    height: 42px;
    background: variables.$color-shadow2;
    border: 2px solid variables.$color-primary;
    color: variables.$color-secondary;
    padding: 0 0 2px 0;
    box-shadow: 0px 5px 10px 0px #2948984D;
}
.button1-card1-cont1:hover{
    box-shadow: none;
    background: variables.$color-white;
    border: 3px solid variables.$color-primary
}
.button2-card2-cont1{
    margin-top: 70px;
    font-size: 14px;
    height: 45px;
    background: variables.$color-shadow2;
    border: 2px solid variables.$color-primary;
    color: variables.$color-secondary;
    padding: 0 0 2px 0;
    box-shadow: 0px 5px 10px 0px #2948984D;
}
.button2-card2-cont1:hover{
    box-shadow: none;
    background: variables.$color-white;
    border: 3px solid variables.$color-primary
}
.cont2{
    width: 90%;
    margin-top: 80px;
    h1{
        font-size: 20px;
        color: variables.$color-secondary;
        font-family: variables.$font-Bold;
        font-weight: 700;
    }
}
.cards-cont2{
    margin-top: -30px;
    display: flex;
    justify-content: space-between;
}
.card-cont2{
    align-items: center;
    width: 100px;
    margin-right: 78px;
    p{
        font-size: 14px;
        font-family: variables.$font-Bold;
        color: variables.$color-secondary;
        text-align: center;
        margin-top: 10px;
        line-height: 15px;
    }
}
.icon-card-cont2{
    width: 70px;
    height: 65px;
    color: variables.$color-secondary;
    background-color: variables.$color-tertiary;
    border-radius: 10px;
    padding: 10px 20px;
    opacity: 0.9;
}



@media (min-width: 426px) {
    .card2-Cont1{
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .button2-card2-cont1{
        margin-top: 76px;
        height: 43px;
    }
    .cont1{
        width: 50%;
    }
    .card1-Cont1, .card2-Cont1{
        width: 160px;
        img{
            transform: translate(1%, -90%);
        }
    }
    .cont2{
        width: 38%;
        margin-left: 20px;
        margin-top: -1px;
    }
    .cards-cont2{
        flex-direction: column;
        margin-top: -30px;
        align-items: center;
    }
    .card-cont2{
        display: flex;
        margin-bottom: 20px;
        width: 200px;
        p{
            margin-left: 10px;
            text-align: center;
        }
    }
    .container1{
        margin-top: 170px;
        display: flex;
        margin-right: -10px;
    }
    .card-cont2{
        margin-right: 10px;
    }
}

@media (min-width: 769px){
    .container1{
        width: 90%;
    }
    .cont1{
        width: 45%;
    }
    .cont2{
        width: 45%;
    }
    .title-cont1{
        font-size: 26px;
        color: variables.$color-secondary;
        font-weight: 700;
        font-family: variables.$font-Bold;
    }
    .text-cont1{
        width: 550px;
    }
    .cards-container1{
        display: flex;
        justify-content: space-around;
    }
    .card1-Cont1, .card2-Cont1{
        width: 250px;
        height: 130px;
        h3{
            font-size: 24px;
            top: 100%;
        }
        h2{
            font-size: 28px;
            transform: translate(0%, 190%);
        }
        img{
            transform: translate(45%, -107%);
        }
    }
    .img-card2-cont1{
            width: 200px;
            height: 200px;
    }
    .img-card2-cont1{
        left: 44%;
        top: 85%;
        width: 100px;
        height: 100px;
    }
    .button1-card1-cont1{
        margin-top: -40px;
    }
    .button2-card2-cont1{
        margin-top: 102px;
    }
    .cont2{
        width: 100%;
        h1{
            font-size: 20px;
            color: variables.$color-secondary;
            font-family: variables.$font-Bold;
            font-weight: 700;
            text-align: center;
        }
    }
    .cards-cont2{
        margin-top: -10px;
        display: flex;
        justify-content: space-between;
    }
    .card-cont2{
        align-items: center;
        width: 250px;
        margin-right: 78px;
        p{
            font-size: 20px;
            font-family: variables.$font-Bold;    
            color: variables.$color-secondary;
            text-align: center;
            margin-top: 10px;
            line-height: 20px;
        }
    }
    .icon-card-cont2{
        width: 100px;
        height: 80px;
        color: variables.$color-secondary;
        background-color: variables.$color-tertiary;
        border-radius: 10px;
        padding: 20px 25px;
        opacity: 0.9;
    }
}